.modal {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	background: rgba(0, 0, 0, 0.5);

	&__content {
		padding: 20px;

		min-height: 250px;

		border-radius: 5px;

		background: var(--black);
	}
}

.disabled {
	display: none;
}

.active {
	display: flex;
	justify-content: center;
	align-items: center;
}