:root {
	--black: #212121;
	--white: #dadada;

	--primary: #6c38cc;
	--primary-hover: #552ba1;
	--primary-clicked: #7d41ee;

	--anti-accent: #7c7c8a;
	--anti-accent-hover: #494952;
	--anti-accent-clicked: #9b9baa;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: 0;
}

body {
	font-family: 'Roboto', sans-serif;

	display: flex;
	align-items: center;
	justify-content: center;

	min-height: 100vh;

	background: #121214;
	color: white;

	/* убираем лесенку со шрифтов */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
